<script>
  var restfulApi = {
  };
</script>
<script type="text/javascript" src="http://localhost:8000/public/javascripts/vender/zepto.min.js"></script>
<script type="text/javascript" src="http://localhost:8000/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="http://localhost:8000/dist/IBU.H5.flight.js"></script>
</body>
</html>
