<!doctype html>
<html>
<head>
  <title>Ctrip</title>
  <meta name="description" content="Ctrip" />
  <meta name="keywords" content="Ctrip" />
  <meta charset="utf-8" />
  <link rel="alternate" media="only screen and (max-width: 640px)" href="http://english.ctrip.com/">
  <link rel="alternate" href="http://english.ctrip.com/m/" hreflang="en-US" title="English">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui" />
  <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
  <meta name='format-detection' content='telephone=no' />
  <meta name='apple-touch-fullscreen' content='yes' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <link rel="stylesheet" type="text/css" href="<%=cdnUrl%>/dist/css/IBU.H5.flight.css">
<script>
;(function () {
  var tid = null;
  var docEl = document.documentElement;
  var BASE_WIDTH = 375;
  var ROOT_FONT_SIZE = 16;

	function refreshRem(){
    var width = docEl.getBoundingClientRect().width;
    if  ( width > 640) {
      width = width/2;
    }
    var rem = width / (BASE_WIDTH / ROOT_FONT_SIZE);
    docEl.style.fontSize = rem + 'px';
  }
  refreshRem();
  window.addEventListener('resize', function() {
    clearTimeout(tid);
    tid = setTimeout(refreshRem, 300);
  }, false);
})();
</script>
<script>
var _ENVIRMENT = "<%= env %>";
var ctrip_wap_top_banner_config ={

de:
{
imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/de-1080x225-06.png",
turnUrl:"//english.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=de"
},
en:{
  imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/en-1080x225-06.png",
turnUrl:
"//english.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=en"
},
es:
{imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/es-1080x225-06.png",
turnUrl:"//english.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=es"
},

fr:{

imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/fr-1080x225-06.png",
turnUrl:"//english.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=fr"
},
hk:{
imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/hk-1080x225-06.png",
turnUrl:"//www.ctrip.com.hk/m/downapp/hkindex/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=hk"
},
jp:{
imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/jp-1080x225-06.png",
turnUrl:"//jp.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=jp"
},
kr:
{
imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/kr-1080x225-06.png",
turnUrl:"//www.ctrip.co.kr/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=kr"
},

ru:{
imageUrl:"//pages.english.ctrip.com/images/wap-top-banner/ru-1080x225-06.png",
turnUrl:"//english.ctrip.com/m/downapp/index/?utm_medium=wap&utm_source=ctripintl&utm_campaign=en_wappopup_20141017&lang=ru"
}
}

</script>
</head>
<body>
