.transition-wrapper{
	position: relative;
	.home-main, .flight-main, .train-main, .hotel-main{
		position: absolute;
		display: inline-block;
    margin-top: 12px;
    padding: 5%;
    background: #fff;
    color: #3a3a3a;
    line-height: 100%;
    width: 90%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
	}
}

